
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Ajay</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>

  <div class="column">
    <div class="card">
      <img src="" alt="Ajay" style="width:100%">
      <div class="container">
        <h2>Ajay Kumar Mahto</h2>
        <p class="title">Designer</p>
        <p>My description</p>
        <p>email</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


<div class="column">
    <div class="card">
      <img src="" alt="Ajay" style="width:100%">
      <div class="container">
        <h2>Ajay Kumar Mahto</h2>
        <p class="title">Designer</p>
        <p>My description</p>
        <p>email</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

    
    <div class="column">
      <div class="card">
        <img src="" alt="Ajay" style="width:100%">
        <div class="container">
          <h2>Ajay Kumar Mahto</h2>
          <p class="title">Designer</p>
          <p>My description</p>
          <p>email</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
